* {
  box-sizing: border-box;
}

#searchFlexDiv {
  width:auto;
  text-align: center;
  padding: 25px 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  background-color: aquamarine;
  border-radius: 25px;
}

#booksFlexDiv {
  display: flex;
  background-color: blueviolet;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;

}